body{
    background-image: url("../Assests/home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.navbar{
    border-radius: 0px;
    border-left: none;
    border-bottom: 1px solid gray;   
    background-color: rgba(28, 28, 28,0.3);
    padding: 20px;
    width:inherit;
    float: right;
    margin: 0;
    width: 100%;
}

a{
    background-color: rgba(28, 28, 28,0.8);
    border-radius: 5px;
    padding: 15px;
    margin: 5px;  
    display: block;
}

.form-group{
    width:90%;
    display: block;
    margin: auto;
    padding: 15px;
}
input:not([type=submit]){
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width:100%;
    height: 40px;
    font-size: 10px;
}

input[type=submit]{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width:100%;
    height: 45px;
    border:none;
    background-color: green;
    color: white;
    font-size: 10px;

}
input[type=submit]:hover{
    background-color: rgba(90, 174, 20);
}
.modal-backdrop {
     background-color: rgba(0,0,0,0.1) !important;
}
.modal{
    font-size: 10px;
}

.nav-tabs li a{
    color: black;
    background-color: white;
    text-decoration: none;
}
#content{
    height: 700px;
    background-color: rgba(28, 28, 28,0.3);
    
}
#footer,#footerUp{
    height: 200px;
    background-color: rgba(28, 28, 28,0.6);
    border-top: 1px solid gray;
    background-attachment: fixed;
    display: block;
}

