body{
    background-image: url("../Assests/home.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
}
.navbar{
    border-radius: 0px;
    border-left: none;
    border-bottom: 1px solid gray;   
    background-color: rgba(28, 28, 28,0.3);
    padding: 20px;
}
navbar-header{
    margin: auto;
}
a{
    background-color: rgba(28, 28, 28,0.8);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}
.form-group{
    width:90%;
    display: block;
    margin: auto;
    padding: 15px;
}
input:not([type=submit]){
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width:100%;
    height: 50px;
}

input[type=submit]{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width:100%;
    height: 50px;
    border:none;
    background-color: green;
    color: white;

}
input[type=submit]:hover{
    background-color: rgba(83, 174, 20);
}
.modal-backdrop {
     background-color: rgba(0,0,0,0.1) !important;
}
.tab-pane{
  background-color: transparent;
}
.nav-tabs li a{
    color: black;
    background-color: white;
}
#content{
    height: 700px;
    background-color: rgba(28, 28, 28,0.3);
}
#footer{
    height: 100px;
    background-color: rgba(28, 28, 28,0.6);
    border-top: 1px solid gray;
    background-attachment: fixed;
    display: block;
}
