body{
    padding: 0;
    margin: 0;
    
}
* {
    box-sizing: border-box;
}    
.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.main li {
    float: left;
}

.main li a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 13px 8px;
    text-decoration: none;
    font-family: corbel;
    font-size: 1.1vw;
    }

.main li a:hover:not(#signup) {
    border-top: 2px solid green;
    color:forestgreen;
}
          
.main #signup{
    background-color: #800000;
    color: white;
    padding: 10px;
}

.middle{
    padding: 0;
    font-family: corbel;
    width: 100%;
    height: 100%;
    display: block;
}
.middle .form{
    margin: 0 auto;
    width: 50%;
    padding: 50px 15px 80px 15px;
    background-color: bisque;
}
.middle .form input{
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 80%;
    font-size: 1vw;
    border: 1px solid  #a2a6a6;
}

.middle .form p{
    margin: 0 auto;
    display: block;
    padding: 0 0 13px 0;
    width: 80%;
    font-size: 1.1vw;
    text-align: center;
}
.middle .form #head{
    font-family: corbel;
    font-size: 2vw;
    text-align: left;
}


.middle .form #submit{
    border: 0;
    padding: 15px;
    width: 80%;
    background-color: #151616;
    color: white;
    text-align: left;
    font-size: 1vw;
}
.middle .form #submit:hover{
    background-color:  #4c4e4e;
}


.footer{
    background-color: black;
    width: 100%;
    height: 100%;
}

.footer .fPart div{
    width: 32%;
    display: inline-block;

}
.footer .fPart{
    padding: 0 0 0 5px;
    height: 100%;
    display: block;
}

.footer .fPart button{
    padding: 10px;
    vertical-align: middle;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 1.2vw;
    font-family: corbel;
}

.footer .sPart{
    padding: 0 0 0 5px;
    height: 100%;
}
.footer .sPart div{
    width: 32%;
    display: inline-block;
}
.footer .sPart div p{
    font-family: corbel;
    color: white;
    font-size: 1.2vw;
}


    
@media only screen and (max-width: 600px){         

* {
    box-sizing: border-box;
}  
.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.main li {
    float: left;
}

.main li a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 13px 8px;
    text-decoration: none;
    font-family: corbel;
    font-size: 3vw;
}


.main li a:hover:not(#signup) {
    border-top: 2px solid green;
    color:forestgreen;
}
    
.main #signup{
    background-color: #800000;
    color: white;
    padding: 1;
}


.middle{
    padding: 0;
    font-family: corbel;
    width: 100%;
    height: 100%;
    display: block;
}
.middle .form{
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: bisque;
}
.middle .form input{
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 80%;
    font-size: 3vw;
    border: 1px solid  #a2a6a6;
}

.middle .form p{
    margin: 0 auto;
    display: block;
    padding: 0 0 13px 0;
    width: 80%;
    font-size: 3vw;
    text-align: center;
}
.middle .form #head{
    font-family: corbel;
    font-size: 5vw;
    text-align: left;
}


.middle .form #submit{
    border: 0;
    padding: 15px;
    width: 80%;
    background-color: #151616;
    color: white;
    text-align: center;
    font-size: 3vw;
}
.middle .form #submit:hover{
    background-color:  #4c4e4e;
}

    
    

.footer{
    vertical-align: middle;
    background-color: black;
    width: 100%;
    height: 100%;
}

.footer .fPart div{
    width: 100%;
    padding: 5px;

}
.footer .fPart{
    padding: 0;
    height: 100%;
    width: 100%;
}

.footer .fPart button{
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 2.5vw;
    width: 70%;  
    display: block;
    margin: 0 auto;

}

.footer .sPart{
    padding: 10px 0 0 5px;
    height: 100%;
    text-align: center;
}
.footer .sPart div{
    width: 100%;
    display: inline-block;
}
.footer .sPart div p{
    font-family: corbel;
    color: white;
    font-size: 2.8vw;
}


}
